---
import Header from "../components/Header.astro"
import Search from "../components/Search.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Airbnb | Alojamientos para vacaciones, cabañas, casas en la playa y más"
  description="Encuentra un alojamiento en Airbnb para cada tipo de viaje → +7 millones de alojamientos vacacionales → 2 millones de alojamientos favoritos entra húespedes → Más de 220 países y regiones en todo el mundo"
>
  <main>
    <Header />
    <div class="space"></div>
    <Search />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 90%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .space {
    padding: 1rem;
  }
</style>
